<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/apphead.ejs %>
    </head>
    <header class="jumbotron">
        <h1>Welcome to the Post Office</h1>
    </header>
    <body>
        <div class="container">
            
            <p>Your item weighs:  <%= weight %> oz </p> 
            <p>The mail product you chose is: <%= types %></p>
            <p>The price of your postage is $<%= result %></p>
        </div>
    </body>
</html>
